/* WRAPPER o BANNER*/
#wrapper {
    background-color: rgb(65, 150, 65);
    color: white;
    height: auto;
    width: auto;
    padding: 1%;
    margin-bottom: 50px;
    box-sizing: border-box;
    text-align: center;
}

/* PRODUCTOS DESTACADOS */
#destacados {
    background-color: rgb(255, 245, 230);
}

/* MAIN/PRODUCTOS */
#main {
    background-color: #51302a;
    color: white;
    opacity: 95%;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    height: auto;
    padding: 5%;
    box-sizing: border-box;
    float: center;
}

#main nav ul li a {
    color: rgb(255, 255, 255);
    width: 150%;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    padding: 3%;
}

#main nav ul li a:hover {
    color: rgb(216, 180, 20);
    transition: 1s;
}

/* NOSOTROS 1 ################################ */
#nosotros1 {
    background-color:rgb(255, 245, 230);
    color: brown;
    opacity:85%;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    height: auto;
    padding: 3%;
    box-sizing: border-box;
}

/* NOSOTROS 2 ################################ */
#nosotros2 {
    background-color:rgb(65, 150, 65);
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    height: auto;
    padding: 3%;
    box-sizing: border-box;
}

#nosotros2 ul li {
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    list-style: none;
}

#nosotros2 ul li a {
    color: rgb(255, 255, 255);
    width: 150px;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    padding: 5%;
}

#nosotros2 ul li a:hover {
    color: rgb(216, 180, 20);
    transition: 1s;
}

/* MEDIDAS IMGs CARRUSEL ##################### */
img{
    width: 100%;
    height: 45vw;
}

/* BG Color y Font ########################### */ 
body {
    background-color: rgb(220, 255, 200);
    background-image: url('../P1Img/Jardin.jpg');
    background-attachment: fixed;
    font-family: sans-serif;
    margin: 50px;
}